@font-face {
  src: url('../fonts/DINPro.otf');
  font-family: 'Din';
  font-style: normal;
}

@font-face {
  src: url('../fonts/DINPro-Bold.otf');
  font-family: 'Din-Bold';
  font-style: normal;
}

@font-face {
  src: url('../fonts/DINPro-Black.otf');
  font-family: 'Din-Black';
  font-style: normal;
}

@font-face {
  src: url('../fonts/DINPro-Light.otf');
  font-family: 'Din-Light';
  font-style: normal;
}

//  standaard CSS
a,
p,
h1,
h2,
h3,
h4 {
  color: #001e50;
  margin-block-start: auto;
  margin-block-end: auto;
}

li,
ul {
  list-style: none;
  padding: 0;

}

a {
  text-decoration: none;
}

.light {
  font-family: 'Din-Light';
}

span {
  color: #001e50;
  font-family: 'Din-Light';
}

.black {
  font-family: 'Din-Black';
}

.bold {
  font-family: 'Din-Bold';
}

body {
  background-color: #fff;
  margin: 0 auto;
  // max-width: 1440px;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Din';
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

.container {
  max-width: 1240px;
  width: 100%;
  position: relative;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  margin: 0 auto;
}

// Header + Navigation
.Logo {
  max-height: 66.6px;
}

.nav-container {
  height: 109px;
  background: #ffffff;
  display: flex;

  .navigation {
    font-family: 'Din';
    font-style: normal;
    font-weight: 700;
    display: flex;
    margin: auto;
    position: relative;
    justify-content: space-between;
  }

  nav {
    display: table-cell;
    vertical-align: bottom;
    position: absolute;
    color: #001e50;
    right: 0;
    bottom: -8px;

    a {
      margin: 0 15px;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:last-of-type {
      margin-right: 0px !important;
    }
  }
}

// Banner
.banner {
  width: 100%;
  height: 30px;
  background-color: #ff7300;
  position: relative;

  div.container {
    margin: 0 auto;
    height: 100%;
    display: table;

    span {
      font-family: 'Din-Light';
      letter-spacing: 7.4px;
      text-transform: uppercase;
      color: #001e50;
      font-size: 18px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// Sub Navigation
.sub-nav {
  background-color: #001e50;
  height: 30px;
  position: absolute;
  display: block;
  margin: auto 1px;
  // visibility: hidden;

  right: 0;

  .sub-nav--link {
    padding: 5px 12px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14px;
  }

  .sub-nav--link:hover {
    font-family: 'Din-Bold' !important;
  }

  .__active {
    font-family: 'Din-Bold' !important;
  }
}

// Hero Main section
.desktop-hero-logo {
  
  width: 230px;
  left: 17px;
  top: 19px;
}

.hero {
  height: auto;
  background: linear-gradient(177.72deg,
      #001e50 -85.11%,
      rgba(0, 30, 80, 0.44) -85.09%,
      #001e50 100.99%,
      rgba(0, 30, 80, 0.58) 101.01%);

  .container {
    margin-bottom: 25px;

    h1 {
      font-family: 'Din-Bold';
      margin-bottom: 29px;
      font-style: normal;
      font-weight: bold;
      color: white;
      font-size: 34px;
      padding-top: 45px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }

    .hero--main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.hero-element:nth-of-type(1) {
  margin-left: 0px;
}

.hero-element:nth-of-type(4) {
  margin-right: 0px;
}

.hero-element {
  max-width: 280px;
  width: 280px;
  min-height: 512px;
  margin: 20px;
  background-color: #ffffff;
  position: relative;

  article {
    padding: 22px;

    .hero-element-titel {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .hero-element-text {
      font-family: 'Din-Bold';
      font-style: normal;
      margin-top: 25px;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .hero-element-image {
    background-image: linear-gradient(0deg,
        rgba(115, 164, 0, 0.5),
        rgba(115, 164, 0, 0.5)),
      url('../images/Homepage\ diensten_280x196px.jpg');
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    display: flex;
    background-size: cover;

    .hero-element-image__link {
      padding-top: 16px;
      padding-bottom: 16px;
      padding: 8px 30px;
      border: 2px solid #fff;
      border-radius: 31px;
      color: #ffffff;
      font-family: 'Din';
      text-transform: uppercase;
      text-decoration: none;
      margin: auto;
    }
  }
}

.h2 {
  font-family: 'Din-Light';
}

.hero-element-titel__h2 {
  font-family: 'Din-Light';
  text-transform: uppercase;
  margin-left: 10px;
}

// HOME PAGE INFO SECTION

.home-info {
  padding: 80px 0px;

  .home-info--container {
    flex-wrap: wrap;
    display: flex;

    div:nth-of-type(1) {
      max-width: 65%;

      h2 {
        font-size: 34px;
      }

      p {
        margin: 77px auto 60px auto;

        font-size: 16px;
        line-height: 28px;
      }

      .home-info--images {
        margin-top: 130px;

        img {
          margin: auto 23px;
        }

        img:nth-of-type(1) {
          margin-bottom: -10px;
        }
      }
    }

    div:nth-of-type(2) {
      width: 35%;

      img {
        max-width: 100%;
        width: auto;

        max-height: 100%;
        position: absolute;
      }
    }
  }
}

//  FOOTER
.footer-container {

  width: 100%;
  background-image: linear-gradient(to right,
      rgba(0, 30, 80, 0.94),
      rgba(0, 30, 80, 0.94)),
    url('../images/beeld\ foooter.svg') !important;
  background-position-x: center;

  .footer-container-blocks {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;

    .footer {
      display: flex;
      flex-direction: column;
      margin: 70px auto;
      height: fit-content;

      a {
        h3 {
          font-family: 'Din-Bold';
          text-transform: uppercase;
          color: white;
          font-size: 12px;
          line-height: 24px;
          text-decoration: none;
        }
      }

      a {
        color: white;
        font-size: 12px;
        text-decoration: none;
        line-height: 24px;
      }
    }
  }
}

.banner-page--img {
  width: 325px;
}

// BANNER + TITEL PAGE EACH PAGE

.banner-page {
  height: 390px;
  width: 100%;
  margin-top: -1px;
  background-image: url('../images/Headers_1140x390px.jpg');
  background-size: cover;

  .banner-page--container {
    margin-top: 90px;
  }

  .container {
    h1 {
      color: white;
      font-family: 'Din-Light';
      font-size: 38px;
      line-height: 48px;
      font-weight: 100;
      margin-top: 35px;
    }
  }
}

// Intro Option + Tekst section

.intro-option {
  .intro-option--container {
    display: flex;
    margin: 60px auto;

    .intro-option--text {
      padding-right: 120px;
      line-height: 36px;
      display: block;

      p {
        font-family: 'Din-Light';
        font-size: 24px;
      }
    }

    .intro-option--links {
      display: flex;
      flex-direction: column;

      h2 {
        font-family: "Din-Bold";
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 5px;
      }

      a {
        padding: 7px 11px;
        color: white;
        width: 100%;
        min-width: 315px;
        max-width: 365px;
        background: #73a400;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 900;
        margin: 6px auto;
      }

      a:hover {
        background: #001e50;
      }
    }
  }
}

.project-block:nth-child(odd) {
  background: rgba(0, 30, 80, 0.1);
}

.arrow-horizontal {
  color: #73a400;
  font-family: 'Din-Bold';
  margin-right: 10px;
}

.project-block {
  .project-block--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 65px auto;

    .project-element {
      margin: 0px 30px;
    }

    .project-block--textImage {
      font-family: 'Din-Bold';

      img {
        max-width: 100%;
        margin-top: 25px;
      }

      h2 {
        text-transform: uppercase;
        color: #73a400;
      }
    }

    .project-block--work {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-family: 'Din-Bold';
        font-size: 18px;
      }

      .works {
        width: 100%;
        margin: 10px auto;
      }

      .works-icons {
        flex: 1;
        display: flex;
        align-items: flex-end;
        width: 100%;

        img {
          display: block;
          flex: 1;
          width: auto;
          max-width: 50%;
          height: auto;
        }
      }
    }

    .project-block--text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}


// FOOTER PROJECT

.footer-project {
  background: #73A400;

  .container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px auto;
    justify-content: space-between;
    width: 100%;

    div.footer-project-content {
      display: flex;
      flex-direction: column;
      margin-left: 30px;




      h2 {
        text-transform: uppercase;
        color: white;
        font-family: "Din-Bold";





      }

      p {
        color: white;
      }
    }
  }
}

.banner-page.systems {
  background-image:
    url('../images/Headers_1140x390px2.jpg');
}

.titel-systems {
  font-family: "Din-Bold" !important;
  font-size: 59px !important;
  margin-top: 140px !important;
}

.hero.systems {
  background-image: linear-gradient(180deg, rgba(0, 30, 80, 0.7) 0%, rgba(0, 30, 80, 0.343) 63.54%, rgba(0, 30, 80, 0.7) 100%),
    url('../images/systems-banner.svg') !important;

  .container-systems {

    img {
      max-width: 400px;
      margin-top: 70px;
      margin-bottom: 45px;

    }
  }
}

.main-page-systems {
  .container {
    margin: 75px auto 0px auto;
    display: flex;

    .content-block-systems {
      max-width: 75%;
      padding-right: 45px;

      .intro-bouwinfra {
        font-family: "Din-Light";

      }

      p {
        font-size: 24px;
        line-height: 36px;

      }

      .content-block-systems-points {
        display: flex;
        margin: 100px auto;

        div {
          h2 {
            font-family: "Din-Bold";
            font-size: 16px;
            text-transform: uppercase;
          }

          p {
            margin: 8px auto;
            font-size: 16px;
            line-height: 24px;

          }
        }

        div:nth-of-type(2) {
          margin-left: 80px;

        }
      }

    }



    .content-block-systems-2 {
      img {

        max-width: 365px;
      }


    }
  }
}

// INDUSTRIE PAGE
.banner-page.industrie {
  background-image:
    url('../images/Headers_1140x390px3.jpg');
  background-size: cover;

}

.main-page-systems.industrie {
  margin-bottom: 100px;


  .container {
    h2 {
      text-transform: uppercase;
      color: #ff7300;
      font-weight: "DinBold";
      font-size: 16px;
    }

    .content-block-systems {
      p:nth-of-type(1) {
        font-size: 24px;
        line-height: 36px;
      }

      .industrie-block {
        margin-top: 75px;
        display: flex;

        .industrie-block__left {
          width: 65%;

          h2 {
            margin-top: 50px
          }

          p {
            font-size: 16px;
            line-height: 24px;
          }
        }

        .industrie-block__right {
          margin-left: 60px;

          p {


            font-size: 16px;
            line-height: 24px;

          }

          div {

            .industrieInfo {
              margin-top: 25px;

            }
          }

        }
      }
    }

    .content-block-systems-2 {


      img:nth-of-type(2) {
        margin-top: 30px;
      }
    }
  }
}

// ADVIES & SERVICE PAGE

.content-block-systems.advies {
  max-width: 65% !important;


  .advies-service-main {
    margin-top: 40px;

    .advies-service-content {
      font-size: 16px !important;
      line-height: 26px !important;
    }

    .advies-service-content.list {
      margin-block-start: 0em;
      margin-block-end: 0em;
      list-style: none;
      color: #001E50;
      margin: 30px auto;
      padding-inline-start: 0px;


    }
  }


}

.load-current-bar--long-title span {
  top: 11px;

}

.load-current-bar {
  display: flex;
  margin-bottom: 30px;

  div {
    margin-right: -5px;
    position: relative;
    width: 20%;

    a {
      span {
        position: absolute;
        color: white;
        text-transform: uppercase;
        // // bottom: 27px;
        // // width: 100%;
        // // right: 33px;

        // max-width: 100px;
        font-family: "Din-Bold";
        color: white;
      }
    }

    img,
    svg {
      width: auto;
      height: 65px;
    }

  }

}

.loading-bar {
  fill: #001E50;
}

.loading-bar:hover,
.loading-bar::selection,
.loading-bar:active {
  fill: #ff7300;
}

.load-current-bar--firstTitle {
  left: 25px;

}

.load-current-bar--secondTitle {

  bottom: 26px;

}

.load-current-bar--fourthTitle {
  bottom: 26px;
}

.load-current-bar--fifthTitle {
  bottom: 26px
}

.content-block-systems__buttons {
  display: flex;
  margin-top: 25px;
  flex-direction: column;

  a {
    text-decoration: none;
    color: white;
    background-color: #ff7300;
    padding: 10px 25px;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Din-Bold";
    margin: 10px 0px;
    width: 45%;

  }
}

// PRODUCTEN COLLECTION PAGE

.banner-page.systems.producten {
  background-image: url("../images/Headers_1140x390px5.jpg");
}

.product-collection-container:nth-of-type(even) {
  padding-top: 45px;
  padding-bottom: 45px;
  background: rgba(0, 30, 80, 0.1);
}

.product-collection {

  .product-collection-container {
    padding-top: 45px;
    padding-bottom: 45px;


    .collection-block {

      display: flex;

      .collection-block-info {
        max-width: 25%;

        h2 {
          font-size: 36px;
          line-height: 40px;
          color: #FF7300;
          text-transform: uppercase;

        }

        p {
          font-size: 16px;
          line-height: 26px;
          margin: 10px auto 35px auto;

        }
      }

      .uitleg-img {
        max-width: -webkit-fill-available;

      }
    }

    .collection-block-products {
      display: flex;
      flex-wrap: wrap;
      padding: 25px;
      padding-top: 0px;



      max-width: -webkit-fill-available;

      .single-product {
        max-width: 200px;
        min-width: 145px;
        max-height: 140px;
        min-height: 100px;
        margin: 10px;

        span {
          text-transform: uppercase;
        }
      }
    }
  }
}


// SINGLE PRODUCT PAGE
.product-info-title {
  font-size: 16px;
  font-family: "Din-Bold";
}

.single-product-container {
  background: rgba(0, 30, 80, 0.1);

  .product-page-container {
    display: flex;
    margin: 40px auto;

    .product-info {
      font-family: "Din-Light";
      max-width: 485px;
      min-width: 300px;
      margin-right: 40px;
      line-height: 24px;

      ul {
        margin: 0;
      }

      .product-info--intro {
        font-size: 18px;
        margin-top: 5px;

      }

      .product-info--route {
        text-transform: uppercase;
        font-size: 20px;
        font-family: "Din-Bold";

        span {
          font-family: "Din-Bold";
        }

        .product-info--route-name {
          color: #ff7300;


        }
      }

      .product-info--oneliner {
        text-transform: uppercase;
      }

      .product-info-details2 {
        p {
          margin: 15px auto;
        }
      }
    }

    .product-media {
      max-width: 735px;
      min-width: 300px;
      width: auto;


      .container-main-image {
        background-color: white;
        padding: 25px;

        .main-image {
          width: -webkit-fill-available;
        }

        div.preview-images {
          display: flex;
          flex-wrap: wrap;
          margin-top: 5px;

          .preview-image {
            max-width: 105px;
            margin: 5px;
            height: -webkit-fill-available;
          }
        }
      }

      .content-block-systems__buttons a {
        max-width: 190px;
      }
    }
  }
}

.product-info-details2,
.product-info-details {
  margin-top: 35px;

}

// FOOTER COPYRIGHT

.copyright-footer {
  min-height: 60px;
  height: auto;
  background-color: white;

  div {



    p {
      font-family: "Din-Light";
      color: #001E50;
      width: 100%;
      font-size: 15px;
      line-height: 24px;
      margin: 17.5px auto;
      text-align: center;
      text-transform: uppercase;
    }
  }
}


// BANNER EMERGENCY
.banner-page.emergency {
  background-image: linear-gradient(90deg, rgba(190, 0, 0, 1) 27.2%, rgba(221, 170, 170, 0.486) 80%),
    url('../images/Headers_1140x390px6.jpg');
  mix-blend-mode: multiply;
}



.emergency-main-page {

  .container {
    margin: 60px auto;
    display: flex;


    .emergency-content {
      max-width: 725px;
      margin-right: auto;

      h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
        font-family: "Din-Light";

      }

      p {
        font-size: 16px;
        line-height: 24px;
        margin: 30px auto;
        font-family: "Din-Light";

      }

      .links-emergency {
        font-family: "Din-Light";
        font-size: 16px;
        color: #001E50;

        span {
          width: 35px;

          display: inline-block;

        }


      }
    }

    .emergency-images {
      display: flex;
      flex-direction: column;

      img {
        max-width: 370px;
        margin: 25px auto;
      }
    }
  }
}

.footer-project.emergency {
  background: #BE0000;

  .container {
    max-width: 800px;
    display: flex;
    margin-left: 80px;


  }

  .footer-emergency-content {
    margin-left: 25px;

    h2,
    p {
      color: white !important;
    }

    h2 {
      margin-top: 15px;


    }
  }
}

// TRAININGEN

.banner-page.trainingen {
  background-image: url("../images/Headers_1140x390px7.jpg");
}

.intro-option--links.emergency {
  a {
    background: #0D71B9 !important;
  }

  a:hover {
    background: #001E50 !important;
  }
}

.training-block:nth-of-type(even) {
  background: rgba(0, 30, 80, 0.1);
}


.training-block {
  .container {
    display: flex;
    margin: 50px auto;

    h2 {
      text-transform: uppercase;
      font-family: "Din-Bold";
      font-size: 16px;
      line-height: 24px;

    }

    .training-content {
      max-width: 710px;

      h1 {
        font-family: "Din-Bold";
        font-size: 24px;
        line-height: 24px;
        color: #007EC2;
        text-transform: uppercase;
        margin-bottom: 10px;

      }

    }

    .training-details {
      margin-left: 100px;

      .works {
        margin: 20px auto;

        .arrow-horizontal {
          color: #007EC2;
        }
      }
    }
  }
}

// OVER ONS 

.banner-page.over-ons {
  background-image: url("../images/Headers_1140x390px8.jpg");

  .banner-page--container {
    margin-top: 40px;

    h1 {
      font-family: "Din-Light" !important;
      font-weight: 300;
      font-size: 84px;
      line-height: 90px;

    }
  }
}

section.intro-over-ons {
  background: rgba(0, 30, 80, 0.1);


  .container {

    div {
      margin: 75px 0;
      max-width: 800px;

      h1 {
        font-size: 34px;
        line-height: 46px;
        font-family: "Din-Light";
        margin-bottom: 55px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.main-over-ons {
  .container {


    .description-about {
      margin: 90px 0;
      display: flex;
      justify-content: space-between;

      .description {

        max-width: 585px;

        img {
          border-radius: 100px;
          margin: 0px auto 30px auto;

        }

        h1 {
          text-transform: uppercase;
          color: #ff7300;
          font-family: "Din-Light";
          font-size: 24px;
          line-height: 24px;
          margin: 15px auto;
        }

        p.description--intro {
          font-size: 16px;
          line-height: 24px;

          font-family: "Din-Bold";
        }

        p.description--main {
          font-size: 16px;
          line-height: 24px;
          margin: 15px auto;

        }
      }
    }
  }
}

// CONTACT PAGE

.banner-page.contact {
  background-image: url("../images/Headers_1140x390px9.jpg");
}

.contact-main {
  .container {


    .contact-container {
      display: flex;
      margin: 65px auto;

      .contact-info {
        min-width: 200px;

        .social-icons {}


      }

      .contact-form {
        form {
          display: flex;
          flex-direction: column;
          max-width: 440px;

          label {
            font-size: 14px;
            line-height: 12px;
            color: #001E50;

          }

          input {
            min-width: 280px;
            max-width: 435px;
            width: -webkit-fill-available;
            background: rgba(0, 126, 194, 0.1);
            border-radius: 5px;
            height: 30px;
            margin: 10px 0px;
            border: none;

          }
        }

      }
    }
  }
}

@media only screen and (max-width: 1275px) {
  .container {
    padding: 0 30px;
  }

  .nav-container {
    padding: 0 25px;
  }

}

@media only screen and (max-width: 1439px) {
  .home-info .home-info--container div:nth-of-type(2) img {
    position: relative;
  }
}

@media only screen and (max-width: 875px) {
  .mobile {
    display: block !important;
  }
.desktop-hero-logo {
  display: none;
}
  .copyright-footer {
    font-size: 14px;

  }

  div.social-icons.footer {
    margin-top: 65px !important;


  }

  .mobile-image-home {
    height: 265px;
    background-image: linear-gradient(0deg, rgba(255, 115, 0, 0.5), rgba(255, 115, 0, 0.5)),
      url('../images/mobile-home-img.jpg') !important;
    background-position-x: 80%;
    background-size: cover;
    background-position-y: 25%;

    p {
      font-size: 18px;
      line-height: 24px;
      color: white;
      font-family: "Din-Bold";
      padding-top: 35px;


    }
  }

  .home-info {
    padding-top: 0;
  }

  .home-info .home-info--container {
    flex-direction: column;

    div:nth-of-type(1) {
      max-width: 100%;

      p {
        margin: 15px auto;
      }

      h2 {
        display: none;
      }

      .home-info--images {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        // flex-wrap: wrap;
        justify-content: space-between;


        img {
          min-width: 50px;
          margin-bottom: 0 !important;
          width: auto;
          margin: 15px auto;
          height: auto;
        }
      }
    }

    div:nth-of-type(2) {
      img {

        display: none;
      }

    }
  }

  .hero-element:nth-of-type(4) {
    margin-right: 10px;
  }

  .nav-container {
    .navigation {
      padding: 0 5px;
      margin-bottom: 15px;

      nav {
        display: none;
      }
    }
  }

  .desktop-arrow {
    display: none;
  }

  .hero-element-titel {
    h2 {
      display: none;
    }

  }

  .footer-container-blocks {
    margin: 50px auto;

    .footer {
      margin: 25px auto !important;
    }
  }

  .banner {
    background-color: #001E50;
    height: 40px;

    div.container {
      span {
        color: #ff7300;
        text-align: center;
        letter-spacing: 4px;
      }
    }
  }

  .mobile-nav {
    display: block !important;
    height: 23px;
    margin: auto 0;

  }

  .logo-aerial-access {
    width: 105px;
  }

  .sub-nav {
    display: none;
  }

  .hero--main {
    flex-direction: column;
  }

  .hero-element {
    width: 100%;
    height: 75px;
    margin-left: 0 !important;
    min-height: 75px;
    max-width: 100%;
    margin: 10px;
    position: relative;

    .hero-element-text {
      display: none;
    }

    .hero-element-image {
      display: none;
    }
  }

  .mobile-hero-button {
    display: block !important;
    position: absolute;
    height: 100%;
    width: 55px;
    right: 0;
    top: 0;

    background-color: #73a400;

    span {
      color: white;
      font-size: 60px;
      right: 10px;
      top: -6px;
      position: absolute
    }
  }

  div.footer-container-blocks {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100% !important;

    .footer {
      height: auto;
    }

    .--col1 {

      grid-column: 1;
      grid-row: 1;

    }

    .--col2 {
      grid-column: 1;
      grid-row: 2;
      margin-top: -25px !important;
    }

    .--col3 {
      grid-column: 2;
      grid-row: 1;
    }

    .--col4 {
      grid-column: 2;
      grid-row: 2;
      margin-top: -25px !important;

    }
  }
  .mobile-hero-logo {
    max-width: 215px !important;
    position: absolute;
  }
}

.mobile-hero-button.systems{
  background-color:#FF7300;
}
.mobile-nav {
  display: none;
}

.mobile {
  display: none;
}

.mobile-hero-logo {
  max-height: 40px;
  top: 18px;
  left: 20px;
  max-width: 195px;
}

.mobile-hero-button {
  display: none;
}





.social-icons.footer {
  margin: 15px 0px !important;

  img:nth-of-type(1) {
    margin-left: 0px !important;
  }

  display: flex;
  flex-direction: row !important;

  img {
    margin: 0 10px;
  }


}

.cls-2 {
  fill: #ff7300;
}

.hero-element-image.systems {
  background-image: linear-gradient(
    0deg
    , rgba(255,115,0,0.5), rgba(255,115,0,0.5)), url("../images/Homepage\ diensten_280x196px2.jpg");
}
.hero-element-image.emergency {
  background-image: linear-gradient(
    0deg
    , rgba(153, 37, 37, 0.5), rgba(153, 37, 37, 0.5)), url("../images/Homepage\ diensten_280x196px3.jpg");
}
.hero-element-image.training {
  background-image: linear-gradient(
    0deg
    , rgba(0.0, 126.0, 194.0, 0.5), rgba(0.0, 126.0, 194.0, 0.5)), url("../images/Homepage\ diensten_280x196px4.jpg");
}

.mobile-hero-button.emergency {
  background-color: #BE0000;
}

.mobile-hero-button.systems {
  background-color: #ff7300;
}
.mobile-hero-button.training {
  background-color: #007EC2;
}

